
/* Style the header */

.header {
    background-color: #0B4C8E;
    width: 100%;
    color: white;
    height: 80px;
    font-size: 14px;
    line-height: 75px;
    padding-top: 20px;
    padding-bottom:20px;
    padding-left: 25px;
    font-size: 50px;
}
.header em{
    font-size: 25px;
    }
.header p1{
    font-size:25px;
}
.header2{
    padding-top: 2px;
    }
.header3{
    background-color: #2A85D5;
    padding-top: 10px;
    }
.output{
    background:rgb(248, 251, 252);
    border:10px ;
}
.outputS{
    padding-left: 0px;
    color:#3666AB;
    width: 210mm;
}
.outputM{
	padding-left: 0px;
	padding-right: 0px;
	width:150mm!important;
}


.datatables.html-widget.html-widget-static-bound{
width:180mm!important;
height:70%!important;

}

.highchart.html-widget.html-widget-static-bound{
width:85%;
height:360px!important;

}
.highcharts{

height:300px!important;
}
.highcharts-container{
left:10px;
height:300px!important;
}
.highcharts-navigator{
display:none;
}
.highcharts-navigator-mask-inside{
display:none;
}
.highcharts-navigator-handle, .highcharts-navigator-handle-right{
display:none;
}

.highcharts-navigator-handle, .highcharts-navigator-handle-left{
display:none;
}

.highcharts-series-1, .highcharts-color-undefined, .highcharts-navigator-series{
display:none;
}
.highcharts-grid, .highcharts-xaxis-grid, .highcharts-navigator-xaxis{
display:none;
}

.highcharts-range-selector-buttons{
display:none;
}
.highcharts-input-group{
display:none!important;
}
.highcharts-scrollbar{
display:none;
}

@page {
    size: A4 !important;
}
