<template>
  <div class="filter-group">
    <div class="group-title">
      Filter
    </div>
    <div class="card card-body x-parent">
      <div class="d-flex">
        <div class="amas-datepicker">
          <div class="group">
            <div class="title">Range</div>
            <!-- RangeType -->
            <select
              class="amas-date-group"
              v-model="plotRangeType"
              @change="changeRangeType"
            >
              <option
                v-for="(item, itemIndex) in plotSelectTypes"
                :key="item"
                :value="item"
              >
                {{item}}
              </option>
            </select>
            <!-- /RangeType -->
            <!-- DateRangePicker -->
            <div class="groupOfInput">
              <input
                id="amas-util-date-range"
                type="text"
                @change="plotRangeUpdate"
                @click="plotDatepicker"
                readonly
              >
              <span>{{ plotRangePrint }}</span>
            </div>
            <!-- /DateRangePicker -->
          </div>
        </div>

        <!-- splitData -->
        <div class="amas-select">
          <div class="group">
            <div class="title">
              Split Data
            </div>
            <select
              id="amas-util-split"
              v-model="plotSplitdata"
              @change="changeSplitdata"
            >
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </div>
        </div>
        <!-- /splitData -->
      </div>
    </div>
  </div>
</template>

<script>
module.exports={
  data () {
    return {
      plotSelectTypes: [
        'Manually',
        'Weekly',
        "Monthly"
      ],
      plotRangeType: 'Manually',
      plotTypes: window.shinyDataInit['types'],
      plotRange: {
        start: moment(window.shinyDataInit['range'][0], 'YYYY-MM-DD').format('YYYY/MM/DD'),
        end: moment(window.shinyDataInit['range'][1], 'YYYY-MM-DD').format('YYYY/MM/DD')
      },
      plotRangePrint: null,
      plotType: window.shinyDataInit['types'][0],
      plotSplitdata: 'true'
    }
  },
  methods: {
    plotDatepicker: function (event) {
    },
    plotRangeUpdate: function (event) {
      // console.log(event)
      // bData(bindKey['plotRange'], event.target.value)
    },
    plotTypeUpdate: function (event) {
      // console.log(event)
      bData(bindKey['plotType'], event.target.value)
    },
    changeRangeType: function (event) {
      // console.log(event.target.value)
      this.datePicker(this.plotRangeType);
      bData(bindKey['plotSelectType'], this.plotRangeType, false)
    },
    changeSplitdata: function (event) {
      // console.log(event.target.value)
      bData(bindKey['plotSplitdata'], this.plotSplitdata, true)
    },
    datePicker: function (type) {
      var _this = this

      var settings = {
        language: 'en',
        dateFormat: 'yyyy/mm/dd',
        multipleDatesSeparator: ' - ',
        minDate: new Date(moment(this.plotRange['start'])),
        maxDate: new Date(moment(this.plotRange['end'])),
        autoClose: true,
        position: 'bottom left'
      }

      var settings_range = {
        range: true,
        minView: 'days',
        view: 'days',
        onSelect: function (fd, date, inst) {
          var selected = fd.split(' - ')

          if(selected.length == 1 && selected[0] == '') {
            inst.update({
              minDate: moment(_this.plotRange.start, 'YYYY/MM/DD').toDate(),
              maxDate: moment(_this.plotRange.end, 'YYYY/MM/DD').toDate()
            })
          }

          // If just select one day
          if (selected.length = 1 && selected[0] !== '') {
            var theMax = moment(selected[0], "YYYY/MM/DD").add("days", 30)
            var theMin = moment(selected[0], "YYYY/MM/DD").subtract(30, "days")
            if(moment(_this.plotRange.start).isAfter(theMin)){
              theMin = moment(_this.plotRange.start, 'YYYY/MM/DD')
            }
            if(moment(_this.plotRange.end).isBefore(theMax)){
              theMax = moment(_this.plotRange.end, 'YYYY/MM/DD')
            }
            inst.update({
              minDate: theMin.toDate(),
              maxDate: theMax.toDate()
            })
          }


          if (date.length > 1) {
            var date_start = moment(date[0]).format('YYYY/MM/DD')
            var date_end = moment(date[1]).format('YYYY/MM/DD')

            var nowRange = _this.plotRangePrint.split(' - ')
            if (date_start == nowRange[0] && date_end == nowRange[1]) {
              // same date
            } else {
              // if more than 30 days
              if (
                moment(date_end, 'YYYY/MM/DD').diff(moment(date_start, 'YYYY/MM/DD'), 'days') > 30
              ) {
                date_end = moment(date_start, 'YYYY/MM/DD').add('days', 30).format('YYYY/MM/DD')
              }

              bData(bindKey.plotRange, {
                start: date_start,
                end: date_end
              }, true)
              bData(bindKey['plotSplitdata'], _this.plotSplitdata)
              _this.plotRangePrint = date_start + ' - ' + date_end
              inst.update({
                minDate: moment(_this.plotRange.start, 'YYYY/MM/DD').toDate(),
                maxDate: moment(_this.plotRange.end, 'YYYY/MM/DD').toDate()
              })
            }
          }
        }
      }
      var settings_weekly = {
        range: false,
        minView: 'days',
        view: 'days',
        classes: 'weekly',
        onSelect: function (fd, date) {
          if (date) {
            var date_start = moment(date).format('YYYY/MM/DD')
            var date_end = moment(date).add('days', 6).format('YYYY/MM/DD')

            var nowRange = _this.plotRangePrint.split(' - ')
            if (date_start == nowRange[0] && date_end == nowRange[1]) {
              // same date
            } else {

              if (
                moment(date_end, 'YYYY/MM/DD').isAfter(moment(_this.plotRange.end, 'YYYY/MM/DD'))
              ) {
                date_end = _this.plotRange.end
              }

              element.val(date_start + settings.multipleDatesSeparator + date_end)

              bData(bindKey.plotRange, {
                start: date_start,
                end: date_end
              }, true)
              bData(bindKey['plotSplitdata'], _this.plotSplitdata)
              _this.plotRangePrint = date_start + ' - ' + date_end
            }
          }
        }
      }
      var settings_monthly = {
        range: false,
        minView: 'months',
        view: 'months',
        classes: 'monthly',
        onSelect: function (fd, date) {
          if (date) {
            var date_start = moment(date).format('YYYY/MM/DD')
            var date_end = moment(date).endOf('month').format('YYYY/MM/DD')

            // if date_end later
            if (
              moment(date_end, 'YYYY/MM/DD').isAfter(moment(_this.plotRange.end, 'YYYY/MM/DD'))
            ) {
              date_end = _this.plotRange.end
            }
            // if date_start earlier
            if (
              moment(date_start, 'YYYY/MM/DD').isBefore(moment(_this.plotRange.start, 'YYYY/MM/DD'))
            ) {
              date_start = _this.plotRange.start
            }

            var nowRange = _this.plotRangePrint.split(' - ')
            if (date_start == nowRange[0] && date_end == nowRange[1]) {
              // same date
            } else {
              element.val(date_start + settings.multipleDatesSeparator + date_end)

              bData(bindKey.plotRange, {
                start: date_start,
                end: date_end
              }, true)
              bData(bindKey['plotSplitdata'], _this.plotSplitdata)
              _this.plotRangePrint = date_start + ' - ' + date_end
            }
          }
        }
      }

      var theSetting
      switch (type) {
        case 'Weekly':
          theSetting = $.extend({}, settings, settings_weekly);
          break;

        case 'Monthly':
          theSetting = $.extend({}, settings, settings_monthly);
          break;

        default:
          theSetting = $.extend({}, settings, settings_range);
      }

      var element = $('#amas-util-date-range')
      var dp = element.datepicker().data('datepicker');
      dp.destroy();
      element.datepicker(theSetting)
    }
  },
  mounted: function () {
    this.datePicker('init')
    bData(bindKey['plotRange'],{
        start: this.plotRange['end'],
        end: this.plotRange['end']
      },
        true
    );
    this.plotRangePrint = this.plotRange['end'] + ' - ' + this.plotRange['end']
    bData(bindKey['plotType'], this.plotType);
    // plotSplitdata init
    bData(bindKey['plotSplitdata'], this.plotSplitdata)
    this.changeRangeType()

    // tooltips
    $('#amas-util-split').tooltip({
      title: 'If "NO" it will take some time to loading data.',
      trigger: 'hover focus',
      placement: 'bottom'
    })

  }
}
</script>